.content {
  margin-left: 234px;
  padding: 52px 38px;
  max-width: 960px;
  min-width: 700px;
}

h1, h2 {
  margin-top: 0;
}

.ng-tasty-title {
  margin: 0 0 80px 0;
}

.ng-tasty-title p {
  width: 100%;
  color: #554433;
  font-size: 20px;
  font-style: italic;
}

.spacer {
  display: inline-block;
  width: 3em;
  height: 3em;
}

.left-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 24px 0;
  width: 234px;
  overflow-y: auto;
  background-color: #f7f7f7;
  border-right: 1px solid #e7e7e7;
}

.left-nav .head {
  padding: 0 0 20px 22px;
}

.left-nav a.head h1 {
  color: #554433;
  margin: 0;
  padding: 0 0 0 22px;
}

.left-nav p.version {
  padding: 0 0 24px 22px;
}

.left-nav .head h4 {
  margin-bottom: 0;
  font-size: 15px;
}

.left-nav .head ul {
  margin: 0 0 20px;
  padding: 0;
}

.left-nav .head li {
  list-style: none;
}

.left-nav .head li a {
  display: block;
  padding: 4px 20px 4px 0;
  font-size: 14px;
  font-weight: 500;
  color: #999;
  width: 90%;
}

.left-nav .head li a:hover, 
.left-nav .head li a:focus {
  color: #8b3d13;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid #8b3d13;
}

.left-nav .bottom {
  position: absolute;
  bottom: 0px;
  padding: 0 0 20px 22px;
  color: #999;
  font-size: 13px;
}
.left-nav .bottom ul {
  padding-left: 0;
}
.left-nav .bottom li {
  display: inline;
  padding: 0 2px;
  font-size: 13px;
}

.close {
  float: none;
  box-sizing: border-box;
  color: rgb(0, 0, 128);
  display: inline;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 13px;
  height: auto;
  line-height: 19px;
  white-space: pre-wrap;
  width: auto;
  word-wrap: break-word;
  font-weight: normal;
  opacity: 1;
}

.docs-head {
  margin: 0 0 20px;
}
.docs-body {
  margin: 10px 0;
}

.example {
  margin: 20px 0;
}

.code .nav-tabs {
  border-bottom: 1px solid #ccc;
}
.code pre, .code code {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code .nav-tabs>li.active>a, 
.code .nav-tabs>li.active>a:hover, 
.code .nav-tabs>li.active>a:focus {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}