.content {
  margin-left: 204px;
  padding: 10px 38px;
  max-width: 960px;
  min-width: 700px;
}

.content.full-content {
  max-width: 100%;
}

h1, h2 {
  margin-top: 0;
}

iframe {
  margin: 0 0 8px 0;
}

.spacer {
  display: inline-block;
  width: 3em;
  height: 3em;
}

.ng-tasty-title {
  margin: 42px 0 60px 0;
}

.ng-tasty-title p {
  width: 100%;
  color: #554433;
  font-size: 20px;
  font-style: italic;
}

.ng-tasty-title-inside {
  margin: 22px 0  20px 0;
}

.ng-tasty-title-inside .spacer {
  height: 2em;
}

.ng-tasty-title-inside iframe {
  margin-top: 10px;
}

.left-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 14px 0;
  width: 204px;
  overflow-y: auto;
  background-color: #f7f7f7;
  border-right: 1px solid #e7e7e7;
}

.left-nav .head {
  padding: 0 0 20px 22px;
}

.left-nav a.head h1 {
  color: #554433;
  margin: 0;
  padding: 0 0 0 22px;
}

.left-nav p.version {
  padding: 0 0 24px 22px;
}

.left-nav .head h4 {
  margin-bottom: 0;
  font-size: 14px;
}

.left-nav .head ul {
  margin: 0 0 20px;
  padding: 0;
}

.left-nav .head li {
  list-style: none;
}

.left-nav .head li a {
  display: block;
  padding: 4px 20px 4px 0;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  width: 90%;
}

.left-nav .head li a.active,
.left-nav .head li a:hover, 
.left-nav .head li a:focus {
  color: #8b3d13;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid #8b3d13;
}
.left-nav .head li a.active {
  border-right-width: 2px;
}
.left-nav .head li a:focus {
  text-decoration: none;
}
.left-nav .head ul.head-child-ul {
  padding-left: 10px;
}
.left-nav .head ul.head-child-ul a {
  font-size: 12px;
}

footer {
  margin: 50px 0 10px 0;
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
.bottom {
  color: #999;
  font-size: 13px;
}
.bottom ul {
  display: inline;
  padding-left: 0px;
}
.bottom li {
  display: inline;
  padding: 0 2px;
  font-size: 13px;
}
.bottom li:first-child {
  padding: 0 2px 0 0;
}

.btn-lg .version {
  font-size: 12px;
}

.close {
  float: none;
  box-sizing: border-box;
  color: rgb(0, 0, 128);
  display: inline;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 13px;
  height: auto;
  line-height: 19px;
  white-space: pre-wrap;
  width: auto;
  word-wrap: break-word;
  font-weight: normal;
  opacity: 1;
}

.docs-head {
  margin: 0 0 20px;
}
.docs-body {
  margin: 10px 0;
}
.docs-body ul {
  padding-left: 30px;
}
.docs-body p {
  margin: 0 0 7px;
  line-height: 19px;
}

.example {
  margin: 20px 0;
}

.code .nav-tabs {
  border-bottom: 1px solid #ccc;
}
.code pre, .code code {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code .nav-tabs>li.active>a, 
.code .nav-tabs>li.active>a:hover, 
.code .nav-tabs>li.active>a:focus {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}

.timeline {
  position: relative;
  margin-top: 0;
}

.tweet {
  display: block;
  padding: 0px;
  margin: 10px 0px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  width: 100%;
  color: #292f33;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
}

.tweet .tweet-container {
  padding: 8px 8px 0 8px;
}

.tweet-container img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  margin-right: 7px;
}

.tweet-container .username {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
}

.tweet-container .nickname {
  color: #c9c9c9;
  font-size: 14px;
}

.tweet-container .user {
  display: inline-block;
  vertical-align: middle;
}

.tweet-container .date {
  color: #c9c9c9;
  font-size: 13px;
}

.tweet-container img.media {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 560px;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}