# Mac
.DS_Store

#Fabric
fabfile.py

# Build
dist
releases

# Node
node_modules
npm-debug.log

# Bower
components

# Template
template/**/*.js

#benchpress
benchpress-build
benchmarks/*
!benchmarks/ngtasty