# Mac
.DS_Store

#Fabric
fabfile.py

# Build
dist
releases

# Node
node_modules
npm-debug.log

# Bower
bower_components

# Template
template/**/*.js

#benchpress
benchpress-build

# Server Config
docs/config.json

# Ignore coverage files
coverage
