<%= include title-inside.html %>
<div class="page-header">
  <h2>Contribute</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>If you want contribute to #ngTasty you can share some of your 
      components, services or filters and make it available for the 
      entire AngularJS community.</p>
      
    <p>Installing <a href="http://yeoman.io/learning/index.html" 
      target="_blank">Yeoman</a></p>
    <pre><code data-language="shell">npm install -g yo</code></pre>

    <p>Installing <a href="https://github.com/Zizzamia/generator-ngtasty" 
      target="_blank">generator-ngtasty</a></p>
    <pre><code data-language="shell">npm install generator-ngtasty</code></pre>

    <p>Scaffolding out your ngTasty component’s pieces</p>
    <pre><code data-language="shell">yo ngTasty:component myComponent
yo ngTasty:filter myFilter
yo ngTasty:service myService
</code></pre>
  </div>
</div>