<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title ng-bind="title"></title>
  <meta name="description" content="A lightweight, flexible, and tasty collection of reusable UI components for AngularJS. ( table directive, range filter )">

  <link rel="stylesheet" href="<%= base %>/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="<%= base %>/bower_components/components-font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="<%= base %>/static/style.css">
  <link rel="stylesheet" href="<%= base %>/bower_components/rainbow/themes/github.css"></script>
  <base href="<%= base %>/" />
</head>
<body ng-controller="AppCtrl">
  <nav class="navbar navbar-default navbar-static navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <!-- Home -->
        <li>
          <a href="/" class="logo">
            <h1><i class="fa fa-heart"></i> ngTasty</h1>
          </a>
        </li>

        <!-- ngTasty component -->
        <li class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            Table <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= base %>/directive/table/simple">simple</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/simple-http">simple $http</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/complete">complete</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/sorting">with sorting</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/pagination">with pagination</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/filters">with filters</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/custom-pagination">with custom pagination</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/custom-sorting">with custom sorting</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table/custom-theme">with custom theme</a>
            </li>
          </ul>
        </li>

        <li class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            Table server side <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= base %>/directive/table-server-side/simple">simple</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table-server-side/complete">complete</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table-server-side/sorting">with sorting</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table-server-side/pagination">with pagination</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table-server-side/filters">with filters</a>
            </li>
            <li>
              <a href="<%= base %>/directive/table-server-side/reload">reload callback</a>
            </li>
          </ul>
        </li>

        <!-- ngTasty service -->
        <li class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            Service <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= base %>/service/websocket">WebSocket</a>
            </li>
            <li>
              <a href="<%= base %>/service/debounce">Debounce</a>
            </li>
            <li>
              <a href="<%= base %>/service/throttle">Throttle</a>
            </li>
          </ul>
        </li>

        <!-- ngTasty filter -->
        <li class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            Filter <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= base %>/filter/filter-int">Filter Int</a>
            </li>
            <li>
              <a href="<%= base %>/filter/range">Range</a>
            </li>
            <li>
              <a href="<%= base %>/filter/camelize">Camelize</a>
            </li>
            <li>
              <a href="<%= base %>/filter/slugify">Slugify</a>
            </li>
          </ul>
        </li>

        <!-- Reference -->
        <li class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            Reference <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="/api">ngTasty API</a></li>
            <li><a tabindex="-1" href="/contribute">Contribute</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="ng-tasty-container" >
      <div class="col-xs-12" ng-view></div>
    </div>
  </div>

  <footer class="container">
    <div class="content">
      <p>Designed and built by <a href="http://twitter.com/zizzamia" 
      target="_blank">@zizzamia</a>, like grandma used to make.
        A special #thankYou to all <a href="https://github.com/Zizzamia/ng-tasty/graphs/contributors" 
        target="_blank">  contributors</a> : <a href="http://twitter.com/proudlygeek" target="_blank">@proudlygeek</a>,
        <a href="http://twitter.com/w3sw" target="_blank">@wesww</a>, <a href="http://twitter.com/aganglada" target="_blank">@aganglada</a>, <a href="http://twitter.com/balx" target="_blank">@bogdan-alexandrescu</a>,
        <a href="http://twitter.com/jsYago" target="_blank">@yagoferrer</a>.
      </p>
      <p>Code licensed under <a href="https://github.com/zizzamia/ng-tasty/blob/master/LICENSE" target="_blank">MIT</a></p>
      <ul>
        <li><a href="https://github.com/zizzamia/ng-tasty" target="_blank">GitHub</a></li>
        <li><a href="https://github.com/zizzamia/ng-tasty/issues?state=open" target="_blank">Issues</a></li>
        <li><a href="https://github.com/zizzamia/ng-tasty/releases" target="_blank">Releases</a></li>
      </ul>
    </div>
  </footer>

  <script src="<%= base %>/bower_components/angular/angular.js"></script>
  <script src="<%= base %>/bower_components/angular-route/angular-route.js"></script>
  <script src="<%= base %>/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="<%= ngTasty %>"></script>
  <script src="<%= base %>/static/js/app.js"></script>
  <script src="<%= base %>/static/js/pages/app.js"></script>
  <script src="<%= base %>/static/js/pages/api.js"></script>
  <script src="<%= base %>/static/js/pages/home.js"></script>
  <script src="<%= base %>/static/js/pages/contribute.js"></script>
  <script src="<%= base %>/static/js/pages/make-your-own.js"></script>
  <script src="<%= base %>/static/js/pages/table.js"></script>
  <script src="<%= base %>/static/js/pages/table-server-side.js"></script>
  <script src="<%= base %>/static/js/pages/filter.js"></script>
  <script src="<%= base %>/static/js/pages/debounce.js"></script>
  <script src="<%= base %>/static/js/pages/throttle.js"></script>
  <script src="<%= base %>/static/js/pages/web-socket.js"></script>
  <script src="<%= base %>/bower_components/rainbow/js/rainbow.js"></script>
  <script src="<%= base %>/bower_components/rainbow/js/language/generic.js"></script>
  <script src="<%= base %>/bower_components/rainbow/js/language/javascript.js"></script>
  <script src="<%= base %>/bower_components/rainbow/js/language/html.js"></script>

  <script type="text/ng-template" id="downloadModal.html">
    <div class="modal-header">
      <h4 class="modal-title">Download #ngTasty</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label"><strong>Build</strong></label>
          <div class="col-sm-9">
            <span class="btn-group">
              <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="true">Minified</button>
              <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="false">Uncompressed</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><strong>Include Templates</strong></label>
          <div class="col-sm-9">
            <span class="btn-group">
              <button type="button" class="btn btn-default" ng-model="options.tpls" btn-radio="true">Yes</button>
              <button type="button" class="btn btn-default" ng-model="options.tpls" btn-radio="false">No</button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" ng-click="cancel()">Close</a>
      <a class="btn btn-primary" ng-href="{{ download() }}" download>
      <i class="fa fa-download"></i> Download {{ version }}</a>
    </div>
  </script>

  
  <script>
  var base = '<%= base %>';
  <% if (base == '/ng-tasty') { %>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-19086315-1', 'auto');
  <% } %>
  </script>
  <script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
</body>
</html>
