<%= include ../title-inside.html %>
<div class="page-header">
  <h2>WebSocket<small>
  (<a target="_blank" href="https://github.com/Zizzamia/ng-tasty/blob/master/src/service/web-socket.js">ngTasty.service.webSocket</a>)
  </small></h2>
</div>

<div class="row">
  <div class="col-md-12 docs-head">
  <p>An Angular Service for instantiating WebSockets using Web Workers.</p>

  <div ng-if="error" class="alert alert-danger" role="alert">
    <strong>{{ error.title }}</strong> {{ error.msg }}
  </div>

  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-class="{'btn-info': showEcho}" 
      ng-click="open('echo')">Echo WebSocket Server</button>
    </div>
    <div ng-if="!error" class="btn-group"> 
      <button type="button" class="btn btn-default" ng-class="{'btn-info': showTwitterStreams}" 
      ng-click="open('twitter-streams')">Realtime Twitter Stream</button>
    </div>  
  </div>

  <div class="docs-body row" ng-show="showEcho">
    <div class="col-md-6">
      <form ng-submit="echo()">
        <label>WebSocket #1 (Echo Server): 
          <input type="text" ng-model="echoText" class="form-control input-sm">
        </label>
        <input placeholder="Type any message" type="submit" 
        value="Echo" class="btn btn-primary btn-sm">
      </form>
    </div>
    <div class="col-md-6">
      <h3 ng-show="echoes.length">Server response: </h3>
      <ul class="list-group">
        <li class="list-group-item" 
        ng-repeat="message in echoes track by $index" ng-bind="message"></li>
      </ul>
    </div>
    <div class="col-xs-12">
      <tabset class="code">
        <tab heading="Markup">
          <div>
<pre ng-non-bindable><code data-language="html">&lt;div class="col-md-6"&gt;
  &lt;form ng-submit="echo()"&gt;
    &lt;label&gt;WebSocket #1 (Echo Server): 
      &lt;input type="text" ng-model="echoText" class="form-control input-sm"&gt;
    &lt;/label&gt;
    &lt;input placeholder="Type any message" type="submit" 
    value="Echo" class="btn btn-primary btn-sm"&gt;
  &lt;/form&gt;
&lt;/div&gt;
&lt;div class="col-md-6"&gt;
  &lt;h3 ng-show="echoes.length"&gt;Server response: &lt;/h3&gt;
  &lt;ul class="list-group"&gt;
    &lt;li class="list-group-item" 
    ng-repeat="message in echoes track by $index" ng-bind="message">/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
          </div>
        </tab>
        <tab heading="JavaScript">
          <div>
  <pre ng-non-bindable><code data-language="javascript">.controller('WebSocketCtrl', function($scope, webSocket) {
  var echoWs = new webSocket('ws://echo.websocket.org');

  $scope.echoes = [];

  echoWs.on('all', function(msg) {
    $scope.$evalAsync(function() {
      $scope.echoes.push(msg);
      $scope.echoText = '';
    });
  });

  $scope.echo = function() {
    echoWs.send($scope.echoText);
  };
})</code></pre>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  
  <div class="docs-body row" ng-show="showTwitterStreams && !error">
    <div class="col-sm-4">
      <label>WebSocket #2 (Realtime Twitter Stream):
        <input placeholder="Search any text" 
        class="form-control input-sm" type="text" ng-model="tag">
      </label>
      <button class="btn btn-primary btn-sm"
      ng-click="tagFilter()">Filter</button>
      <button class="btn btn-primary btn-sm" 
      ng-click="stopFilter()">Stop</button>
      <div ng-if="currentTag">
        <hr />
        <strong>Results: </strong>
        <ul class="list-group">
          <li class="list-group-item" 
          ng-repeat="(tag, counter) in counters | orderBy:counter">
            <span ng-bind="tag"></span>
            <span class="badge" ng-bind="counter"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="timeline">
        <ul>
          <li class="tweet bounceInDown" ng-repeat="tweet in tweets">
            <div class="tweet-container">
              <p>
                <img ng-src="{{tweet.picture}}" />
                <span class="user">
                <strong class="username">{{ tweet.username }}</strong>
                <br />
                <em class="nickname">@{{ tweet.screen_name }}</em>
                </span>
              </p>
              <p class="text" ng-bind="tweet.text"></p>
              <p class="date" ng-bind="tweet.created_at | date: 'h:m a - d MMM yyyy'"></p>
              <div ng-show="tweet.extended_entities.media.length">
                <img class="media" ng-src="{{ tweet.extended_entities.media[0].media_url }}" 
                ng-show="tweet.extended_entities.media[0].type == 'photo'" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>