<%= include ../title-inside.html %>
<%= include page-header.html %>
<div class="row">
  <%= include docs-header.html %>

  <div class="col-md-12 docs-body">
    <div class="example">
      <div class="form-group">
        <label class="col-sm-3 control-label">Filters value :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control input-sm" 
          placeholder="Filter result" ng-model="filters" value="" />
        </div>
      </div>
      <div tasty-table bind-resource="resource" bind-filters="filters"
      	bind-filters-comparator="filtersComparator"> 
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Star</th>
              <th>SF Location</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in rows">
              <td>{{ row.name }}</td>
              <td>{{ row.star }}</td>
              <td>{{ row['sf-Location'] }}</td>
            </tr>
          </tbody>
        </table>
        <tasty-pagination></tasty-pagination>
      </div>
    </div>
    <tabset class="code">
      <div class="pull-right">
        <a href="http://plnkr.co/edit/jnSXo3?p=preview" target="_blank">
          <button class="btn btn-info">
            <i class="glyphicon glyphicon-edit"></i>Edit in plunker
          </button>
        </a>
      </div>
      <tab heading="Markup">
        <pre ng-non-bindable><code data-language="html">&lt;div tasty-table bind-resource=&quot;resource&quot; bind-filters=&quot;filters&quot; 
  bind-filters-comparator=&quot;filtersComparator&quot;&gt;
  &lt;table class=&quot;table table-striped table-condensed&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Name&lt;/th&gt;
        &lt;th&gt;Star&lt;/th&gt;
        &lt;th&gt;SF Location&lt;/th&gt;
      &lt;/tr&gt;
    &lt;thead&gt;
    &lt;tbody&gt;
      &lt;tr ng-repeat=&quot;row in rows&quot;&gt;
        &lt;td&gt;&lbrace;&lbrace; row.name &rbrace;&rbrace;&lt;/td&gt;
        &lt;td&gt;&lbrace;&lbrace; row.star &rbrace;&rbrace;&lt;/td&gt;
        &lt;td&gt;&lbrace;&lbrace; row['sf-location'] &rbrace;&rbrace;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
      </tab>
      <tab heading="JavaScript">
        <pre><code data-language="javascript">$scope.filters = 'ha';
$scope.filtersComparator = function (actual, expected) {
  if (actual.indexOf) {
    return actual.toLowerCase().indexOf(expected) === 0;
  }
};
  
$scope.resource = {
  "header": [
    { "key": "name", "name": "Name" },
    { "key": "star", "name": "star" },
    { "key": "sf-location",  "name": "SF Location" }
  ],
  "rows": [
    { "name": "Ritual Coffee Roasters", "star": "★★★★★", "sf-location": "Hayes Valley"},
    ...
    { "name": "Flywheel Coffee Roasters", "star": "★★★★★", "sf-location": "Upper Haight" }
  ]
};</code></pre>
      </tab>
    </tabset>
  </div>
</div>
