<%= include ../title-inside.html %>
<%= include page-header.html %>
<div class="row">
  <%= include docs-header.html %>

  <div class="col-md-12 docs-body">
    <div class="example">
      <div tasty-table bind-resource="resource">
        <table class="table table-striped table-condensed">
          <thead tasty-thead not-sort-by="['sf-Location']"
          template-url="localTemplateThead.html"></thead>
          <tbody>
            <tr ng-repeat="row in rows">
              <td>{{ row.name }}</td>
              <td>{{ row.star }}</td>
              <td>{{ row['sf-Location'] }}</td>
            </tr>
          </tbody>
        </table>
        <script type="text/ng-template" id="localTemplateThead.html">
          <tr>
            <th ng-repeat="column in columns track by $index"
            ng-class="classToShow(column)"
            ng-style="::column.style" ng-click="sortBy(column)">
              Custom <span ng-bind="::column.name"></span>
            </th>
          </tr>
        </script>
      </div>
    </div>
    <tabset class="code">
      <tab heading="Markup">
        <pre ng-non-bindable><code data-language="html">&lt;div tasty-table bind-resource=&quot;resource&quot;&gt;
  &lt;table class=&quot;table table-striped table-condensed&quot;&gt;
    &lt;thead tasty-thead not-sort-by=&quot;['sf-location']&quot;
    template-url=&quot;&#39;localTemplateThead.html&#39;&quot;&gt;&lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr ng-repeat=&quot;row in rows&quot;&gt;
        &lt;td&gt;&lbrace;&lbrace; row.name &rbrace;&rbrace;&lt;/td&gt;
        &lt;td&gt;&lbrace;&lbrace; row.star &rbrace;&rbrace;&lt;/td&gt;
        &lt;td&gt;&lbrace;&lbrace; row['sf-location'] &rbrace;&rbrace;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
  &lt;script type="text/ng-template" id=&quot;localTemplateThead.html&quot;>
    &lt;tr&gt;
      &lt;th ng-repeat=&quot;column in columns track by $index&quot;
      ng-class=&quot;classToShow(column)&quot;
      ng-style=&quot;::column.style&quot; ng-click=&quot;sortBy(column)&quot;&gt;
        Custom &lt;span ng-bind=&quot;::column.name&quot;&gt;&lt;/span&gt;
      v/th&gt;
    &lt;/tr&gt;
  &lt;/script&gt;
&lt;/div&gt;</code></pre>
      </tab>
      <tab heading="JavaScript">
        <pre><code data-language="javascript">$scope.resource = {
  "header": [
    { "key": "name", "name": "Name", "style": {"width": "50%"} },
    { "key": "star", "name": "Star", "style": {"width": "15%"} },
    { "key": "sf-location", "name": "SF Location", "style": {"width": "35%"} }
  ],
  "rows": [
    { "name": "Ritual Coffee Roasters", "star": "★★★★★", "sf-location": "Hayes Valley"},
    ...
    { "name": "Flywheel Coffee Roasters", "star": "★★★★★", "sf-location": "Upper Haight" }
  ],
  "sortBy": "star",
  "sortOrder": "dsc"
};</code></pre>
      </tab>
    </tabset>
  </div>
</div>
