<div class="col-md-12 docs-head">
  <p>A lightweight table directive with sorting, pagination and filtering support.</p>
  <p>Settings can be provided as attributes in the <code>&lt;tasty-table&gt;</code> or globally 
    configured through the <code>tableConfig</code></p>
  <ul>
    <li>
      <p><code>bind-resource</code><i class="glyphicon glyphicon-eye-open"></i>
      : The date object.
      </p>
    </li>
    <li ng-if="innerPage == 'complete' || innerPage == 'filters' || innerPage == 'advance-filters'">
      <p><code>bind-filters</code> (Defaults: {})
      : The filter expression, check <a href="https://docs.angularjs.org/api/ng/filter/filter"
      target="_blank">Angular Filter</a> for more info.
      </p>
    </li>
    <li ng-if="innerPage == 'complete' || innerPage == 'advance-filters'">
      <p><code>bind-filters-comparator</code> (Defaults: undefined)
      : The filter comparator, check <a href="https://docs.angularjs.org/api/ng/filter/filter"
      target="_blank">Angular Filter</a> for more info.
      </p>
    </li>
    <li ng-if="innerPage == 'complete' || innerPage == 'custom-theme'">
      <p><code>bind-theme</code> (Defaults: {...})
      : Be able to change the tableConfig constant object.
      </p>
    </li>
    <li>
      <p><code><span style="color:orange">bind-</span>watch-resource</code> (Defaults: 'reference')
      : Give the option to update the table by changing the setting 
      of $watch('resource', ...). The option are the classic three: 'reference', 
      'collection' and 'equality'.
      </p>
    </li>
  </ul>
  <div ng-if="innerPage == 'complete' || innerPage == 'sorting' || innerPage == 'custom-sorting'">
    <p>Settings can be provided as attributes in the <code>&lt;tasty-thead&gt;</code>.</p>
    <ul>
      <li>
        <p><code><span style="color:orange">bind-</span>not-sort-by</code> (Defaults: [ ])
        : list key columns not want sort, if is empty will not sort any column. You can also disable
        the sorting by adding <code>sortable: false</code> inside the column header values.
        </p>
      </li>
      <li>
        <p><code><span style="color:orange">bind-</span>bootstrap-icon</code> (Defaults: false)
        : Whether to display boostrap icon or not.
        </p>
      </li>
      <li>
        <p><code><span style="color:orange">bind-</span>icon-up</code> (Defaults: 'fa fa-sort-up')
        : Class thead icon up
        </p>
      </li>
      <li>
        <p><code><span style="color:orange">bind-</span>icon-down</code> (Defaults: 'fa fa-sort-down')
        : Class thead icon down
        </p>
      </li>
      <li>
        <p><code><span style="color:orange">bind-</span>template-url</code> (Defaults: 'template/table/head.html')
        : a path to a template representing head content.
        </p>
      </li>
    </ul>
  </div>
  <div ng-if="innerPage == 'complete' || innerPage == 'pagination' || innerPage == 'custom-pagination'">
    <p>Settings can be provided as attributes in the <code>&lt;tasty-pagination&gt;</code>.</p>
    <ul>
      <li>
        <p><code><span style="color:orange">bind-</span>items-per-page</code> (Defaults: 5) 
        : Maximum number of items per page.
        </p>
      </li>
      <li>
        <p><code><span style="color:orange">bind-</span>list-items-per-page</code> (Defaults: [5, 25, 50, 100])
        : list possible choice for items per page.
        </p>
      </li>
      <li>
        <p><code><span style="color:orange">bind-</span>template-url</code> (Defaults: 'template/table/pagination.html')
        : a path to a template representing pagination's content.
        </p>
      </li>
    </ul>
  </div>
  <div class="bs-callout bs-callout-primary"
  ng-if="innerPage == 'complete' || innerPage == 'custom-theme'">
    <h4>bind-theme</h4>
    <p>Below the defaults values</p>
    <pre><code data-language="javascript">{
  init: {
    'count': 5,
    'page': 1,
    'sortBy': undefined,
    'sortOrder': undefined,
    'filterBase': 1
  },
  query: {
    'page': 'page',
    'count': 'count',
    'sortBy': 'sort-by',
    'sortOrder': 'sort-order'
  },
  bootstrapIcon: false,
  bindOnce: true,
  loadOnInit: false,
  iconUp: 'fa fa-sort-up',
  iconDown: 'fa fa-sort-down',
  listItemsPerPage: [5, 25, 50, 100],
  itemsPerPage: 5,
  templateHeadUrl: 'template/table/head.html',
  templateUrl: 'template/table/pagination.html',
  watchResource: 'reference'
}</code></pre>
  </div>
  <div class="bs-callout bs-callout-primary">
    <h4>bind-</h4>
    <p>If you add  before the attribute that means is a 
    variable inside your <code>$scope</code> otherwise you passing by plan value.</p>
  </div>
</div>
