<div class="page-header">
  <h2>Table
    <span ng-if="innerPage == 'simple'">with simple sorting and pagination</span>
    <span ng-if="innerPage == 'simple-http'">with simple $http load resource</span>
    <span ng-if="innerPage == 'complete'">complete</span>
    <span ng-if="innerPage == 'sorting'">with sorting</span>
    <span ng-if="innerPage == 'pagination'">with pagination</span>
    <span ng-if="innerPage == 'filters'">with filters</span>
    <span ng-if="innerPage == 'custom-pagination'">with custom pagination</span>
    <span ng-if="innerPage == 'custom-sorting'">with custom sorting</span>
    <span ng-if="innerPage == 'custom-theme'">with custom theme</span>

    <small>
    (<a target="_blank" href="https://github.com/Zizzamia/ng-tasty/blob/master/src/component/table.js">ngTasty.table</a>)
    </small>
  </h2>
</div>
